<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>Your fifth clue:</h1>
    <h2>In the footsteps of history, you tread,</h2>
    <h2>To the site of a tragedy, where blood was shed.</h2>
    <h2>Search with care, among the shadows and stone,</h2>
    <h2>Where the echoes of rebellion are forever sown.</h2>
    <h2>In the heart of the tumultuous past,</h2>
    <h2>The rain conceals a secret that will last.</h2>
  </div>

</body>
</html>
