<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">
    
  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>I can be cracked, made, told, and played,</h1>
    <h1>I can bring joy or make you dismayed.</h1>
    <h1>In secrets and stories, I often reside,</h1>
    <h1>As a tool of language, I cannot hide.</h1>

    <div class="input-wrapper">
      <input type="text" id="codeInput" placeholder="Enter your answer">
    </div>
    <input type="hidden" id="answer" value="joke">
    <input type="hidden" id="destination" value="bmc_clue1656321685">
    <div class="input-wrapper">
      <button onclick="checkCode()">Guess</button>
    </div>
  </div>

  <script src="static/script.js"></script>
</body>
</html>
