<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>Your sixth clue:</h1>
    <h2>Alivi hvieqw gsppmhi mr e risr fpedi,</h2>
    <h2>Eqmhwx xli glesw sj e gsrgvixi qedi.</h2>
    <h2>E gvswwvsehw sj asvphw, alivi xmqi mw pswx,</h2>
    <h2>Jsppsa xli wmkrw, rs qexxiv xli gswx.</h2>
  </div>

</body>
</html>
