<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>The final clue:</h1>
    <h2>Through clues and quests, I've led the way,</h2>
    <h2>In this treasure hunt, I've guided your day.</h2>
    <h2>But now, my love, it's time to reveal,</h2>
    <h2>A truth that I've kept long concealed.</h2>
    <h2></h2>
    <h2>Amongst the mysteries, secrets, and fun,</h2>
    <h2>I've one final riddle, but this one's the one.</h2>
    <h2>Will you say 'yes' to this quest of a lifetime,</h2>
    <h2>And be forever with me, our lives entwined.</h2>

  </div>

</body>
</html>
