<!DOCTYPE html>
<html>
<head>
    <title>Treasure Hunt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />


</head>
<body>
    <div class="container">
        <h1>Your third clue:</h1>
        <h2>Where the Freedom Trail begins,</h2>
        <h2>a green Oasis in the heart of the city,</h2>
        <h2>a place for people to come together,</h2>
        <h2>seek and you shall find, the treasure waiting at the foot of the flagpole.</h2>
      </div>

    </div>
</body>
</html>