<!DOCTYPE html>
<html>
<head>
  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />
  
</head>
<body>
  <div class="container">
    <h1>From humble beginnings, I rose to the fore,</h1>
    <h1>Guiding a nation through a civil war.</h1>
    <h1>Though my life was cut short, my impact profound,</h1>
    <h1>In history's tapestry, my name is renowned.</h1>

    <div class="input-wrapper">
      <input type="text" id="codeInput" placeholder="Enter your answer">
    </div>
    <input type="hidden" id="answer" value="Lincoln">
    <input type="hidden" id="destination" value="lmt">
    <div class="input-wrapper">
      <button onclick="checkCode()">Guess</button>
    </div>
  </div>

  <script src="static/script.js"></script>
</body>
</html>
