<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>Your fifth clue:</h1>
    <h2>Drgsrm z ofhs zmw hkizdormt hkzxv,</h2>
    <h2>Gsrh ozmwnzip hgzmwh drgs tizxv.</h2>
    <h2>Gsv giryfgv gl gsv yziw lu low,</h2>
    <h2>Dsviv hglirvh zmw xszizxgvih fmulow.</h2>
    <h2>Znrwhg gsv tivvm zmw gizmjfro kozxv,</h2>
    <h2>Hvvp z orgvizib vnyizxv.</h2>
  </div>

</body>
</html>
