<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>Your fifth clue:</h1>
    <h2>dsviv srhglib rh rnnligzoravw,</h2>
    <h2>rm gsv zixs'h vnyizxv,</h2>
    <h2>gsv uzgsvi hgzmwh gzoo,</h2>
    <h2>hvmgrmvo rm gsrh kozxv.</h2>
    <h2>Rm gsv oznkortsg'h told,</h2>
    <h2>blfi mvcg xofv'h ivevzovw,</h2>
    <h2>hvvp, zmw blf hszoo urmw,</h2>
    <h2>dsviv hvxivgh ziv xlmxvzovw.</h2>
  </div>

</body>
</html>
