<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

  <title>Treasure Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="static/styles.css" />

</head>
<body>
  <div class="container">
    <h1>Your eigth clue:</h1>
    <h2>In a city rich with history's spark,</h2>
    <h2>Where the past has left its mark,</h2>
    <h2>Find the park where freedom rings,</h2>
    <h2>Where the echoes of the past it sings.</h2>
    <h2>Seek and you shall find the treasure where you find brief rest</h2>
  </div>

</body>
</html>
