<!DOCTYPE html>
<html>
<head>
    <title>Treasure Hunt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Luxurious+Script&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="static/styles.css" />


</head>
<body>
    <div class="container">
        <h1>     
            Your second clue:
        </h1>
        <h2>
            Where the echoes of a nation's past still resound,
        </h2>
        <h2>
            A symbol of perseverance and sacrifice,
        </h2>
        <h2>
            A reminder of a nation's darkest hour,
        </h2>
        <h2>
            Seek and you shall find, the treasure waiting at the base of this marble giant.
        </h2>
    </div>
</body>
</html>